/*Button switches to Night or Light*/
:root{
    width: 10%;
    color: rgba(14, 99, 42, 0.902);
    background-color: rgb(7, 16, 29);
    background-image: url(https://i.pinimg.com/736x/6e/8b/93/6e8b93f31f5edfe71bd5dd50f6086bb5.jpg);
    /* background-size: contain; */
    background-repeat:no-repeat;
    background-position: left;
    /* position: relative;
    display: inline; */
}
/*Dark Mode*/


.content-wrapper{
    text-align: bottom;
    width: 50%;
    margin: 0%;
}

.theme-switcher-wrapper {
    align-items: left;
    margin-top: 180px;
}
.theme-switch{
    display: inline-block;
    height: 100px;
    position: relative;
    width: 150px;
}
.theme-switch input{
    display: none;
}
.slider{
    bottom: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    transition: 1s;
}

.slider.round{
    background-color:rgba(11, 11, 91, 0.247);
    margin: 0%;
    width: 100%;
    bottom: 0%;
    cursor: pointer;
    left: 0%;

    right:0%;
    top: 0%;
    transition: 0.9s;
    
}
.slider:before {
    bottom: 4px;
    content: "";
    height: 92px;
    left: 5px;
    position: absolute;
    transform: 0.9s;
    width: 92px;
    border-radius: 10%;
}
.dark-mode{
    color: #c62020;
}

input:checked + .slider{
    background-color:rgb(204, 194, 0);
    transform: translatex(126px);
}

input:checked + .slider:before {
    transform: translatex(45px);
    background-size: contain;
    background-image: url(https://i.pinimg.com/564x/84/ea/10/84ea10ca564ecba69cda081879cae7d2.jpg);
}
.slider.round{
    border-radius: 80px;
}
.slider.round:before{
    border-radius: 80%;
    background-image: url(https://i.pinimg.com/564x/42/20/53/42205397f363a195db9cb121cb5156fe.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}
